$box-shade: rgb(0 0 0 / 25%);

$primary: #1D3354; //Prussian Blue
// $primary: #467599; //Queen Blue
// $secondary: #9ED8DB; //Powder Blue
$secondary: #E9FFF9; //Light cyan
$warning: #D64045; //English Vermillion