$box-shade: rgb(0 0 0 / 25%);

$primary: #1D3354; //Prussian Blue
// $primary: #467599; //Queen Blue
// $secondary: #9ED8DB; //Powder Blue
$secondary: #E9FFF9; //Light cyan
$warning: #D64045; //English Vermillion

$grey: grey;
$green: green;
$red: $warning;
$shadow-grey: rgb(139, 139, 139);
$background: #f6f8fa;

$white: white;

$active-shadow: 0.1rem 0.1rem 0 0 rgb(0 0 0 / 15%), inset -1px -1px 0.1rem rgb(0 0 0 / 25%);
$light-shadow: 0.1rem 0.1rem 0 0 rgb(0 0 0 / 15%), inset 0 0 0.1rem rgb(0 0 0 / 25%);